# Environment variables for developing the web application
# Once you've filled in the values, rename this file to .env.development

# Generate your own JWT secret and fill this in
NEXT_PRIVATE_JWT_SECRET=

NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api